{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "defaults"
  ],
  "globals": {
    "expect": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "no-trailing-spaces": 1,
    "quotes": [1, "double"],
    "semi": 1
  }
}
